<mat-card class="mtop20 color-custom-card">
  <div class="d-flex justify-content-between align-items-center p-3">
    <h2 class="m-0">Quizzes</h2>

    <button routerLink="/admin/add-quiz" mat-raised-button color="accent">
      Add New Quiz
    </button>
  </div>

  <mat-card class="mtop5" *ngFor="let q of quizzes">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{ q.title }}
      </mat-card-title>

      <mat-card-subtitle>
        <b>Category:</b> {{ q.category.title }}
      </mat-card-subtitle>

      <mat-card-content>
        <p><b>Description:</b> {{ q.description }}.</p>
        <p><b>Publish Status:</b> {{ q.active ? "Yes" : "No" }}</p>
      </mat-card-content>
    </mat-card-header>

    <mat-card-actions
      class="w-100 d-flex flex-wrap row-gap-2 align-items-center"
    >
      <div class="me-auto d-flex flex-wrap gap-2">
        <button
          [routerLink]="'/admin/view-questions/' + q.qid + '/' + q.title"
          mat-stroked-button
          color="primary"
        >
          All Questions
        </button>
        <button mat-stroked-button color="accent">
          Total Marks: {{ q.maxMarks }}
        </button>
        <button mat-stroked-button color="accent">
          Number Of Questions: {{ q.numberOfQuestions }}
        </button>
      </div>

      <div class="d-flex flex-wrap gap-2">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="'/admin/quiz/' + q.qid"
        >
          Update
        </button>
        <button mat-raised-button (click)="deleteQuiz(q.qid)" color="warn">
          Delete
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</mat-card>
