<mat-card class="mtop20 color-custom-card">
  <mat-action-list>
    <div mat-subheader>
      <b>Admin Menu</b>
    </div>

    <button mat-list-item routerLink="/admin">
      <mat-icon mat-list-icon style="margin-right: 2px">home</mat-icon>
      Home
    </button>

    <button mat-list-item routerLink="/admin/profile">
      <mat-icon mat-list-icon style="margin-right: 2px"
        >account_circle</mat-icon
      >
      Proflie
    </button>

    <mat-expansion-panel
      class="mat-elevation-z0"
      style="background: transparent"
    >
      <mat-expansion-panel-header style="padding: 0 16px">
        <mat-panel-title style="display: flex; align-items: center">
          <mat-icon style="margin-right: 8px">category</mat-icon>
          Categories
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-list-item routerLink="/admin/categories">
        <mat-icon mat-list-icon style="margin-right: 2px">category</mat-icon>
        Categories List
      </button>

      <button mat-list-item routerLink="/admin/add-category">
        <mat-icon matListItemIcon style="margin-right: 8px">add</mat-icon>
        Add Categories
      </button>
    </mat-expansion-panel>

    <mat-expansion-panel
      class="mat-elevation-z0"
      style="background: transparent"
    >
      <mat-expansion-panel-header style="padding: 0 16px">
        <mat-panel-title style="display: flex; align-items: center">
          <mat-icon style="margin-right: 8px">psychology_alt</mat-icon>
          Quizzes
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button mat-list-item routerLink="/admin/quizzes">
        <mat-icon mat-list-icon style="margin-right: 2px"
          >psychology_alt</mat-icon
        >
        Quizzes List
      </button>

      <button mat-list-item routerLink="/admin/add-quiz">
        <mat-icon matListItemIcon style="margin-right: 8px">add</mat-icon>
        Add Quiz
      </button>
    </mat-expansion-panel>

  </mat-action-list>
</mat-card>
